@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

:root {
    --primary-color: #52489c;
    --secondary-color: #59c3c3;
    --accent-color: #f45b69;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica,sans-serif;
    --secondary-font: Mooli, san-serif;
    }

body {
    background-color: var(--text-light);
    font-family: var(--primary-font);
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

.viewer {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: (rgba(50, 50, 50, 0.5));
    grid-template-columns: 1fr 2fr 1fr;
    justify-items:center;
    align-items: center;
    z-index: 9999;
    margin: 2em;
}

.close-viewer {
    grid-row: 1/2;
    grid-column: 3/4;
    color: var(--text-light);
    background-color: (rgba(0, 0, 0, 0.75));
    padding: 0;
    margin: 0;
    font-size: large;
}

.img-viewer {
    grid-row: 2/3;
    grid-column: 1/4;
    display: flex;
    max-width: 100%;
    width: 70%;
    height: 70%;
    padding: 0px;
}

.img-viewer img {
    box-shadow: 0;
}

a {
    color: var(--text-light);
}

h1 {
    text-align: center;
    font-size: 40px;
    margin-top: 0;
    padding-top: 5px;
}

#menu-title {
    display: none;
    padding: 20px;
    margin: 0 auto;
    background-color: var(--primary-color);
    color: var(--text-light);
    font-size: 1.35em;
    box-shadow: 0;
    border: 0;
}

.links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 1000px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

nav {
    text-align: center;
}

h2 {
    text-align: center;
}

img {
    max-width: 100%;
    padding: 7px;
    height: 250px;
    width: 250px;
    object-fit: cover;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
    background-color: white;
}

header {
    background-color: var(--primary-color);
    color: var(--text-light);
}

main { 
    font-family: var(--secondary-font);
    margin-bottom: 40px;
}

.gallery {
    width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    margin: 0 auto;
}

footer {
    background-color: var(--primary-color);
    color: var(--text-light);
    padding: 20px;
}

p {
    width: 1000px;
    margin: 0 auto;
}

@media (max-width: 1000px) {
    .links {
        width: 700px;
    }
    p {
        width: 700px;
    }
    .gallery {
        width: 700px;
        grid-gap: 30px;
    }
}

@media (max-width: 700px) {
    .links {
        grid-template-columns: 1fr;
        width: 20px;
    }
    .gallery {
        grid-template-columns: 1fr;
        width: 300px;
        justify-items: center;
    }
}