@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Quicksand:wght@300&display=swap');

:root {
    --primary-color: #480bc3;
    --secondary-color: #06419E;
    --accent-color: #4B6858;
    --text-dark: #0C0F0A;
    --text-light: #D9DCD6;
    --primary-font: Helvetica, Arial, sans-serif;
    --secondary-font: 'Lora', Impact, serif;
}

body {
    font-family: var(--primary-font);
    color: var(--text-dark);
}

.skiptocontent a {
    position: absolute;
    top: -40px;
    color: var(--text-light);
    background-color: var(--primary-color);
}

.skiptocontent a:focus {
    top: 0px;
}

h1 {
    text-align: center;
    font-size: xx-large;
    font-family: var(--secondary-font);
    color: var(--primary-color);
}
h2 {
    color: var(--secondary-color);
}

nav {
    border-top: 1px solid var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
    font-family: var(--primary-font);
    font-size: 1.25em;
}

main {
    display: grid;
    grid-template-columns: 75% 25%;
}

nav ul {
    text-align: right;
    list-style-type: none;
    margin-right: 5%;
}

nav ul li {
    display: inline;
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
    color: var(--secondary-color);
}

article {
    display: grid;
    grid-template-columns: 33% 66%;
}

.left {
    text-align: right;
    border-right: 1px solid var(--accent-color);
    padding: 20px;
    margin: 20px;
}

.right {
    margin: 0;
    grid-column: 2/3;
    grid-row: 1/2;
}

.right img {
    display: block;
    height: 300px;
    margin: 0 auto;
}

.filters {
    margin-top: 30px;
    border: 1px solid var(--accent-color);
}

