:root {
    /* change the values below to your colors from your palette */
    --primary-color: #D03A46;
    --secondary-color: #7A4E14;
    --accent1-color: #007A3A;
    --accent2-color: #FFFFFF;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "PT Sans", sans-serif;
    --paragraph-font: "Open Sans", sans-serif;
  }

body {
    margin: 0;
    font-family: var(--paragraph-font);
    color: var(--primary-color);
}



header {
    background-color: var(--secondary-color);
    border-bottom: 5px solid var(--primary-color);
}

.inner-header {
    width: 1000px;
    margin: 0 auto;
}

nav {
    float: right;
    margin-top: 125px;
}
nav ul {
    list-style-type: none;
    display: inline;
    
}

nav ul li {
    display: inline;
    padding: 20px;
    
}

nav ul li a {
    text-decoration: none;
    color: var(--accent2-color);
    padding: 30px;
}

nav ul li a:hover {
    color: var(--accent2-color);
    background-color: var(--primary-color);
}


.mainPicture {
    background-image: url("./woods.webp");
    background-position: center;
    background-repeat: no-repeat;
    height: 1000px;
}

main {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

#index-main {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    grid-row-gap: 40px;
    padding: 20px;
}

#index-main img {
    width: 90%;
}

.discs-link {
    text-decoration: none;
    background-color: var(--primary-color);
    padding: 20px;
    color: var(--accent2-color);
    border-radius: 10px;
}

.discs-link:hover {
    background-color: var(--secondary-color);
    color: var(--accent2-color);
}

.center-button {
    display: flex;
    justify-content: center;
}

h1 {
    color: var(--accent1-color);
    font-family: var(--heading-font);
    float: left;
}

h2 {
    color: var(--accent1-color);
    font-family: var(--heading-font);
}

.search-bar {
    display: flex;
    align-items: center;
    width: 300px;
    float: right;
    margin-top: 20px;
}

.search-bar input {
    padding: 10px; 
    margin-right: 10px; 
    flex-grow: 1;
}

.search-bar button {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar img {
    width: 20px;
    height: 20px;
}

#email {
    width: 90%;
    padding: 10px;
}

textarea {
    font-family: var(--paragraph-font);
    width: 90%;
    padding: 10px;
}

form div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#submit-button {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    border: none;
    border-radius: 10px;
    padding: 20px;
}

#submit-button:hover {
    background-color: var(--secondary-color);
    color: var(--accent2-color);
}

#title {
    overflow: hidden;
}

#discs-main {
    overflow: hidden;
}

.disc-section {
    display: grid;
    grid-template-columns: 50% 50%;
}

footer {
    background-color: var(--secondary-color);
    padding: 20px;
}

footer p {
    width: 1200px;
    margin: 0 auto;
    color: var(--accent2-color);
}